<!doctype html>
<!-- thymeleaf nos permite traducir la logica de Java a HTML y poder realizar las operaciones Dinámicas pra nuestra WEB-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BarberAPI</title>
    <!-- Linkea a los estilos css    -->
    <link rel="stylesheet" th:href="@{/styles/styles.css}"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800;900&amp;family=Manrope:wght@400;500;600;700&amp;display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
            rel="stylesheet"
    />

    <!-- Creamos el puente para que pueda leer app.js la variable Global    -->
    <script th:inline="javascript">
        globalThis.reservasOcupadas = /*[[${reservasOcupadas}]]*/ [];
    </script>

    <script th:src="@{js/app.js}" defer></script>
</head>
<body>
<!--Ventana emergente en Reserva Exitosa-->
<div class="ventana-emergente" th:if="${reservaExitosa}">
    <div class="ticket-emergente">
        <div class="ticket-header">
            <span class="material-symbols-outlined ticket-icon">
                check_circle
            </span>
            <h3>¡RESERVA CONFIRMADA!</h3>
            <p>Tu cita se ha sido registrada con éxito </p>
        </div>

        <!--Cuerpo ticket - Detalles del Ticket-->
        <div class="ticket-body">
            <div class="ticket-row">
                <span class="ticket-label">Cliente:</span>
                <span class="ticket-value" th:text="${ticketNombre}">Jheremi</span>
            </div>
            <div class="ticket-row">
                <span class="ticket-label">Servicio:</span>
                <span class="ticket-value" th:text="${ticketServicio}">Corte Clásico</span>
            </div>
            <div class="ticket-row">
                <span class="ticket-label">Fecha y Hora:</span>
                <span class="ticket-value" th:text="${ticketFecha}">25/04/2026 a las 13:00h</span>
            </div>
        </div>

        <!-- Cierre del ticket en el footer-ticket  -->
        <div class="ticket-footer">
            <button onclick="this.closest('.ventana-emergente').style.display='none'" class="btn-cerrar-ticket">
                CERRAR TICKET
            </button>
        </div>

    </div>

</div>


<!-- Cabecera -->
<header class="main-header">
    <div class="brand-logo">
        <!-- Permite devolver la imagén estática sin importar dónde esté alojada la web-->
        <a th:href="@{/}">
            <img th:src="@{/assets/images/Logo-removebg-preview.png}" alt="Logo BarberAPI" />
            <span class="brand-text">BarberAPI</span>
        </a>
    </div>
    <!-- Checkbox hack para navegación móvil (SIN JS) -->
    <input type="checkbox" id="mobile-menu-toggle" class="menu-checkbox"/>
    <label for="mobile-menu-toggle" class="menu-toggle">
        <span class="material-symbols-outlined icon-menu">menu</span>
        <span class="material-symbols-outlined icon-close">close</span>
    </label>
    <nav class="nav">
        <ul>
            <li><a th:href ="@{/}">Inicio</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#reservas">Reservas</a></li>
        </ul>
    </nav>
</header>
<!--Banner hero-->
<main>
    <!-- Seccion del banner -->
    <section class="ban-image">
        <div class="content-text-main">
            <div class="text-main">
                <h4>EST. 2026 VALENCIA, ESPAÑA</h4>
                <h1>BARBER API</h1>
                <h3>
                    Eleva tu estilo con cortes de precisión y un servicio diseñado
                    para destacar lo mejor de ti.
                </h3>
            </div>
            <div class="btn-hero">
                <button class="btn-hero-reservas">
                    <h4>RESERVAS</h4>
                </button>
                <button class="btn-hero-servicios">
                    <h4>VER SERVICIOS</h4>
                </button>
            </div>
        </div>
    </section>

    <!-- Sección Servicios -->
    <section class="servicios" id="servicios">
        <div class="servicios-header">
            <div class="servicios-title">
                <h2>NUESTROS SERVICIOS</h2>
                <p>
                    Cada servicio es un ritual a medida, adaptado a la geometría única
                    de tus facciones y la textura de tu cabello.
                </p>
            </div>
            <div class="servicios-line"></div>
        </div>

        <div class="servicios-grid">
            <!-- Card 1 -->
            <!-- th:each itera dentro los elementos de servicios -->
            <article class="servicio-card" th:each ="servicio, iterStat : ${servicios}">
                <div class="servicio-card-top">
                    <span class="servicio-category"
                          th:text="'0' + ${iterStat.count} + ' / SERVICIO'">01 / STYLING</span>
                    <span class="material-symbols-outlined service-icon">spa</span> <!-- Aplicamos solo un icono para todas las Card -->
                </div>
                <h3 class="servicio-title" th:text="${servicio.nombreServicio}">CORTE CLÁSICO</h3>
                <p class="servicio-desc" th:text="${servicio.descripcion}">
                    Descripción por defecto...
                </p>
                <div class="servicio-card-bottom">
                    <span class="servicio-price" th:text="${servicio.precio} + '€'">14.99€</span>
                    <span class="servicio-duration" th:text="${servicio.duracionMinutos} + ' MIN'">30 MIN</span>
                </div>
            </article>

        </div>
    </section>

    <!-- Seccion de las reservas -->
    <section class="reservas" id="reservas">
        <!-- TITULOS DE SERVICIOS -->
        <div class="servicios-line"></div>
        <div class="servicios-header">
            <div class="servicios-title title-reservas">
                <h2>RESERVA TU CORTE</h2>
                <p>
                    Tu look empieza aquí. Reserva tu cita en segundos y disfruta de un
                    servicio pensado para ti.
                </p>
            </div>
        </div>
        <div class="servicios-line"></div>
    </section>
    <!-- CALENDARIO DE RESERVAS -->
    <div class="reservas-content">
        <div class="calendario">
            <div class="calendario-header">
                <h2 class="calendar-title" id="titulo-mes">MAYO, 2026</h2>
                <div class="calendario-nav">
                    <button aria-label="Anterior" id="btn-prev"></button>
                    <button aria-label="Siguiente" id="btn-next"></button>
                </div>
            </div>
            <div class="semana">
                <div>LUNES</div>
                <div>MARTES</div>
                <div>MIÉRCOLES</div>
                <div>JUEVES</div>
                <div>VIERNES</div>
                <div>SABADO</div>
                <div>DOMINGO</div>
            </div>
            <div class="dias" id="contenedor-dias">
            </div>
        </div>
        <!-- RESERVAS DISPONIBLES -->
        <div class="tablas-reservas">
            <div class="reservas-title">
                <h3 id="titulo-horas-disponibles"></h3>
            </div>
            <div class="box-dias-disponibles">
                <div class="box time-slot" data-hora="09:00:00">9:00 AM</div>
                <div class="box time-slot" data-hora="10:00:00">10:00 AM</div>
                <div class="box time-slot" data-hora="11:00:00">11:00 AM</div>
                <div class="box time-slot" data-hora="12:00:00">12:00 PM</div>
                <div class="box time-slot" data-hora="13:00:00">13:00 PM</div>
                <div class="box time-slot" data-hora="14:00:00">14:00 PM</div>
                <div class="box time-slot" data-hora="15:00:00">15:00 PM</div>
                <div class="box time-slot" data-hora="16:00:00">16:00 PM</div>
                <div class="box time-slot" data-hora="17:00:00">17:00 PM</div>
                <div class="box time-slot" data-hora="18:00:00">18:00 PM</div>
            </div>
            <div class="contenedor-tabla-compra">
                <div class="box-title">REALIZA TU RESERVA</div>
                <!-- Cambio de div a Form para capturar los datos registrados por el cliente-->
                <!--  Aviso cartel reserva correcta o incorrecta -->
                <div class="aviso">
                    <p th:if="${error}" th:text="${error}" class="aviso-error"></p>
                    <p th:if="${mensaje}" th:text="${mensaje}" class="aviso-mensaje"></p>
                </div>
                <form th:action="@{/crear-reserva}" method="POST" id="form-reserva">
                    <div class="box-formulario">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" required />

                        <label for="apellido">Apellido:</label>
                        <input type="text" id="apellido" name="apellido" required />

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="correo" required />

                        <label for="telefono">Teléfono:</label>
                        <input type="tel" id="telefono" name="telefono" required />

                        <!-- Capturamos fecha y hora -->
                        <input type="hidden" id="fechaYHora" name="fechaYHora" required />
                    </div>

                    <div class="caja box-servicio">
                        <span>Selecciona tu servicio:</span>
                        <select name="idServicio" id="idServicio" required>
                            <option value=""  >-- Elige un servicio --</option>
                            <!-- Creamos variable serv -> devuelve los servicios de la base de datos -->
                            <option th:each="serv : ${servicios}"
                                    th:value="${serv.idServicio}"
                                    th:text="${serv.nombreServicio + ' - ' + serv.precio + '€'}">
                            </option>
                        </select>
                    </div>
                    <div class="servicios-line"></div>

                    <div class="button-pagar">
                        <button type="submit" class="box box-pago">
                            CONFIRMAR RESERVA
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-col brand-col">
            <span class="brand-text">BARBER API</span>
            <p class="footer-desc">
                EXCELENCIA EN ESTÉTICA MASCULINA Y FEMENINA DESDE 2026. CREADO A
                MANO, REFINADO POR EL ARTE.
            </p>
        </div>

        <div class="footer-col links-col">
            <h4 class="footer-heading">DIRECTORIO</h4>
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#servicios">SERVICIOS</a></li>
                <li><a href="#">RESERVAS</a></li>
                <li><a href="#">PRIVACIDAD</a></li>
            </ul>
        </div>

        <div class="footer-col links-col">
            <h4 class="footer-heading">SOCIAL</h4>
            <ul>
                <li><a href="#">INSTAGRAM</a></li>
                <li><a href="#">TIKTOK</a></li>
            </ul>
        </div>

        <div class="footer-col newsletter-col">
            <h4 class="footer-heading">NEWSLETTER</h4>
            <p class="newsletter-desc">ÚNETE A NUESTRO CÍRCULO EXCLUSIVO</p>
            <form class="newsletter-form">
                <input type="email" placeholder="EMAIL ADDRESS" required/>
                <button type="submit">SIGNUP</button>
            </form>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2026 BARBER API. TODOS LOS DERECHOS RESERVADOS.</p>
    </div>
</footer>
</body>
</html>
